/*
 * Local development config for Nextflow pipeline
 * Use: nextflow run main.nf -c conf/local.config
 */
process {
    executor       = 'local'
    maxForks       = 4
    errorStrategy  = 'retry'
    maxRetries     = 2

    withLabel: 'bigcpu' {
        cpus   = 8
        memory = '16 GB'
    }

    withLabel: 'lowmem' {
        cpus   = 2
        memory = '4 GB'
    }
}

conda.enabled = true

params {
    ref_fasta = "${projectDir}/references/GRCh38.fa"
    dbsnp     = "${projectDir}/references/dbsnp_146.hg38.vcf.gz"
}
